# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-acknowledgements.markdown
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-acknowledgements.plist
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-dummy.m
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-frameworks.sh
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-Info.plist
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker-umbrella.h
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker.debug.xcconfig
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker.modulemap
Pods/Target Support Files/Pods-YPTracker/Pods-YPTracker.release.xcconfig
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests-acknowledgements.markdown
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests-acknowledgements.plist
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests-dummy.m
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests-Info.plist
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests-umbrella.h
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests.debug.xcconfig
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests.modulemap
Pods/Target Support Files/Pods-YPTrackerTests/Pods-YPTrackerTests.release.xcconfig
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica-xcframeworks-input-files.xcfilelist
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica-xcframeworks-output-files.xcfilelist
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica-xcframeworks.sh
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica.debug.xcconfig
Pods/Target Support Files/YandexMobileMetrica/YandexMobileMetrica.release.xcconfig
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_armv7/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YandexMobileMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMAdRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMCompletionBlocks.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMECommerce.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMError.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMErrorRepresentable.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMPluginErrorDetails.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMProfileAttribute.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMReporterConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMRevenueInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMStackTraceElement.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMUserProfile.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMVersion.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetrica.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaConfiguration.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPluginReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPlugins.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaPreloadInfo.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Headers/YMMYandexMetricaReporting.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetrica.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetrica.framework/YandexMobileMetrica
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_armv7/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/ios-arm64_i386_x86_64-simulator/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/_CodeSignature/CodeResources
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/Headers/YandexMobileMetricaCrashes-umbrella.h
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/Info.plist
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/Modules/module.modulemap
Pods/YandexMobileMetrica/dynamic/YandexMobileMetricaCrashes.xcframework/tvos-arm64_x86_64-simulator/YandexMobileMetricaCrashes.framework/YandexMobileMetricaCrashes
Pods/YandexMobileMetrica/helper
Pods/YandexMobileMetrica/LICENSE.md
Pods/YandexMobileMetrica/README.md
